.error-box {
  width: 23rem;
  height: 16rem;
  background-color: white;

  .error-box__header {
    height: 3rem;
    background-color: rgba(209, 50, 46);
    padding: 1rem;

    & h1 {
      margin-top: 0.5rem;
      color: white;
      font-weight: lighter;
      letter-spacing: 0.1rem;
    }
  }

  .error-box__message {
    padding: 2rem 1rem;
    color: rgba(209, 50, 46);
    font-size: 1.2rem;
    font-weight: lighter;
  }

  .error-box__footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1rem 0 0;
    border-top: 0.2rem solid lightgrey;

    & button {
      padding: 0.5rem;
      background-color: white;
      border: 0.2rem solid lightgrey;
      cursor: pointer;
    }
  }
}
