.trip-list__search,
.trip-list__search:focus {
  border: none;
  background-color: rgba(242, 244, 248);
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1.5rem;
  outline: none;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.add-trip-btn h1:last-child {
  font-size: 1.5rem;
}

.list-container {
  width: 54vw;
  height: 25rem;
  background-color: rgba(242, 244, 248);
  overflow-x: auto;
  scrollbar-width: thin;
  display: inline-flex;
  align-items: center;
}

.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
