<div class="trip-list">
  <input class="trip-list__search"
         placeholder="Search your trip"
         (input)="onSearch($event)"
         [disabled]="isError">
  <label for="sort">Sort by start date: </label>
  <select id="sort" (change)="onSort($event)">
    <option>ascending</option>
    <option>descending</option>
  </select>
  <div class="list-area">
    <div class="list-container">
      <ul>
        <trip-card
          *ngFor="let trip of trips;"
          [trip]="trip"
        ></trip-card>
      </ul>
    </div>
    <div class="add-trip-btn"  (click)="onAddTrip()">
      <div class="add-trip-btn__content">
        <h1>+</h1>
        <h1>Add trip</h1>
      </div>
    </div>
  </div>
</div>
<div class="overlay" *ngIf="isError">
  <div class="position-box">
    <error-modal [error]="error" (onModalClose)="handleCloseModal()"></error-modal>
  </div>
</div>
